set number
set relativenumber
set smartindent
set shiftwidth=4
set tabstop=4
set softtabstop=4
set incsearch
set history=1000
set scrolloff=10

nnoremap \e :e ~/.ideavimrc<CR>
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>

set commentary

let mapleader = ","

inoremap jk <ESC>

nnoremap <a-t> :action ActivateTerminalToolWindow<CR>
nnoremap <leader>t :action Terminal.OpenInTerminal<CR>

nnoremap n nzzzv
nnoremap N Nzzzv

nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k

nnoremap <a-j> :m+<CR>
nnoremap <a-k> :m-2<CR>
vnoremap <a-j> :m '>+1<CR>gv=gv
vnoremap <a-k> :m '<-2<CR>gv=gv

nnoremap <C-Up> :resize -2<CR>
nnoremap <C-Down> :resize +2<CR>
nnoremap <C-Left> :vertical resize -2<CR>
nnoremap <C-Right> :vertical resize +2<CR>

nnoremap x "_x
nnoremap c "_c
vnoremap p "_dP
vnoremap < <gv
vnoremap > >gv

nnoremap <leader>Y "+Y
nnoremap <leader>y "+y
vnoremap <leader>y "+y
vnoremap <leader>p "+p
nnoremap <leader>p "+p
nnoremap <a-h> gT
nnoremap <a-l> gt

nnoremap <leader>gi :action GotoImplementation<CR>
nnoremap <leader>gc :action GotoClass<CR>
nnoremap <leader>gd :action GotToDeclaration<CR>
nnoremap <leader>gs :action GotoSymbol<CR>
