[user]
    email = dhunganaannanta@gmail.com
    name = edr3x

[init]
    defaultBranch = main

[pull]
    ff = only

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    light = false
    side-by-side = true
    line-numbers = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
