!!! xrdb -merge .Xresources
xterm*termName: xterm-256color
xterm*locale: false
xterm*utf8: true
xterm*reverseVideo: false
xterm*faceName: Fira Code Nerd Font
xterm*faceSize: 15
xterm*dynamicColors: On
xterm*geometry: 80x20
xterm*scrollBar: false
xterm*saveLines: 4096
xterm*cursorColor:  #ff0000
xterm*background: black
xterm*foreground: green

!!! Colors
! Black
xterm*color0: #888888
xterm*color8: #AAAAAA

! Red
xterm*color1: #D70000
xterm*color9: #ff005f

! Green
xterm*color2: #00d700
xterm*color10: #87ffaf

! Yellow
xterm*color3: #dfff00
xterm*color11: #ffffdf

! Blue
xterm*color4: #005fff
xterm*color12: #00afff

! Purple
xterm*color5: #ff5fff
xterm*color13: #ff87ff

! Cyan
xterm*color6: #00d7ff
xterm*color14: #5fffff

! White
xterm*color7: #c0c0c0
xterm*color15: #ffffff

urxvt*locale: false
urxvt*utf8: true
urxvt*reverseVideo: false
urxvt*faceName: Iosevka Nerd Font
urxvt*faceSize: 15
urxvt*dynamicColors: On
urxvt*geometry: 80x20
urxvt*scrollBar: false
urxvt*saveLines: 4096
urxvt*cursorColor:  #ff0000
urxvt*background: black
urxvt*foreground: green

XTerm.vt100.translations: #override \n\
  Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
  Ctrl Shift <Key>V: insert-selection(CLIPBOARD)
