[user]
    name = edr3x
    email = dhunganaannanta@gmail.com

[init]
    defaultBranch = main

[pull]
    ff = only
    default = current
    rebase = true

[rebase]
    autoStash = true
    missingCommitsCheck = warn

[push]
    autoSetupRemote = true
    default = current
    followTags = true

[core]
    pager = delta
    compression = 9
    whitesppace = error
    preloadindex = true

[log]
    abbrevCommit = true
    graphColors = blue,yellow,cyan,magenta,green,red

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    light = false
    side-by-side = true
    line-numbers = true
    
[diff]
    colorMoved = default
    renames = copies
    interHunkContext = 10

[merge]
    tool = vimdiff
    conflictstyle = diff3
    
[mergetool]
    keepBackup = false

[mergetool "vimdiff"]
    cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[alias]
    lg = log --oneline --graph --decorate --all
    contributors = shortlog -s -n --all --no-merges
